apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-app
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: django-app
  template:
    metadata:
      labels:
        app: django-app
    spec:
      containers:
        - name: django
          image: us-central1-docker.pkg.dev/devops-gke-github-ci/django-repo/django-app:7972418a3a6c3d73def9fce4c57ca62d6280d57b
          ports:
            - containerPort: 8000
          env:
            - name: DJANGO_ALLOWED_HOSTS
              value: "35.223.229.44"
